*{
    box-sizing: border-box;
    margin: 0;
}
body, .container{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: relative;
    color: hsl(233, 26%, 24%);
}
.mobile{
    display: none;
}
.intro-bg, .overlay-image{
    position: absolute;
    top: -14rem;
    right: -28rem;
    z-index: 2;
}
.overlay-image{
    top: -7rem;
    right: -9rem;
}
.overlay-image img, .intro-bg img{
    width: 100%;
    height: 100%;
}
nav, ul, .nav-list, .top-box,.middle-box-service-box,.article-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-container, .icon-close, .icon-open{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    z-index: 100;
}
.nav-ul ul{
    gap: 20px;
    height: 100%;
}
li{
    list-style: none;
    cursor: pointer;
    color: hsl(233, 8%, 62%);
    font-size: .8rem;
}
.nav-list, .nav-ul, .top-box,.middle-box{
    height: 100%;
    position: relative;
}
.nav-list::after, .request-btn::after{
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        background-color: hsl(136, 65%, 51%);
        bottom: 0;
        transform: scale(0);
        transition: .5s ease;
}
.nav-list:hover::after, .request-btn:hover::after{
    transform: scale(1);
}
.request-btn{
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to right, hsl(136,65%,51%) ,hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    font-size: .8rem;
    cursor: pointer;
    position: relative;
}
.request-btn::after{
    height: 100%;
    border-radius: 40px;
    background-color: hsl(0, 0%, 100%, .5);
    left: 0;
}
.top-box{
    padding: 10rem;
    justify-content: right;
}
.wrapper,.middle-box-header-box{
    width: 350px;
    padding: 4rem 0;
}
.top-box-header-txt{
    font-size: 2rem;
    margin-bottom: 20px;
}
.text-details{
    font-size: .7rem;
    color: hsl(233, 8%, 62%);
    margin-bottom: 20px;
    line-height: 20px;
}
.middle-box{
    padding: 4rem 10rem;
    background-color: hsl(220, 16%, 96%);
}
.middle-box-header-box{
    padding: 0;
    margin-bottom: 50px;
}
.head-text{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.middle-box-service-box, .article-box-container{
    justify-content: space-between;
    gap: 20px;
}
.child-box{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    width: 33.3%;
}
.bottom-box{
    padding: 4rem 10rem;
}
.article-box-container{
    align-items: flex-start;
}
.article-box-container .child-box{
    gap: 0;
    background-color: hsl(0, 0%, 100%);
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
}
.article-image{
    height: 200px;
}
.article-image img{
    width: 100%;
    height: 100%;
}
.inner-text-container{
    padding: 20px;
    
}
.author{
    font-size: .5rem;
    margin-bottom: 10px;
    color: hsl(233, 8%, 62%);
}
.subtitle{
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}
.subtitle:hover{
    color: hsl(136,65%,51%);
}
footer{
    width: 100%;
    height: 100px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.social{
    display: flex;
    height: 100%;
    color: hsl(0, 0%, 100%);
    gap: 30px;
}
.social-icon{
    display: flex;
    gap: 5px;
}
.icon {
    cursor: pointer;
}
.icon:hover svg path{
    fill: hsl(136, 65%, 51%);
}
.footer-list-container ul{
    display: block;
    column-count: 2;
    line-height: 26px;
}
.footer-list:hover{
    color: hsl(136,65%,51%);
}
.footer-btn{
    color: hsl(0, 0%, 100%);
    font-size: .7rem;
    line-height: 40px;
}

.attribution{
    position: absolute;
    bottom: 5px;
    font-size: .7rem;
    color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
}
.attribution a{
    color: hsl(136, 65%, 51%);
    text-decoration: none;
}
.attribution::before{
    position: absolute;
    content: '';
    height: 100%;
    padding: 2px;
    width: 400px;
    z-index: 1;
    background-color: hsl(233, 26%, 24%);
    animation: show-text 15s linear infinite;
    animation-delay: 1s;
}
@keyframes show-text{
    0%{left: 37%;}
    100%{left: 63%}
}
@media screen and (max-width:1000px) {
    nav button{
        display: none;
    }
    .intro-bg{
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        height: 600px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .overlay-image{
        width: 100%;
        height: 700px;
        margin: auto;
        right: 0;
    }
    .top-box, .middle-box, .bottom-box{
        padding: 4rem;
    }
    .wrapper, .middle-box-header-box{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .middle-box-service-box, .article-box-container{
        flex-direction: column;
    }
    .child-box{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .text-details{
        font-size: 1rem;
    }
    .article-image{
        width: 100%;
    }
    .head-text{
        width: 100%;
        text-align: center;
    }
    footer{
        padding: 20px;
    }
    footer, .social{
        flex-direction: column;
        height: -moz-fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer-list-container ul{
        column-count: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .footer-list{
        width: 100%;
        text-align: center;
    }
    .footer-btn{
        text-align: center;
    }
    .icon-container{
        gap: 20px;
        align-items: center;
    }
    .icon-close, .icon-close{
        display: none;
    }
    
}
@media screen and (max-width: 500px){
    .overlay-image {
        height: 550px;
    }
    .intro-bg{
        height: 450px;
    }
    
    .top-box, .middle-box, .bottom-box{
        padding: 20px;
    }
    nav{
        justify-content: space-between;
        padding: 10px;
    }
    .icon-open{
        display: block;
        cursor: pointer;
    }
    .icon-close{
        cursor: pointer;
    }
    .nav-ul{
        display: none;
    }
    .hamburger-container{
        width: 90%;
        border-radius: 10px;
        position: absolute;
        display: block;
        top: 60px;
        margin: auto;
        left: 0;
        right: 0;
        transform: translate(-50px 50%);
        z-index: 100;
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        transform: scaleY(0);
        transition:  .5s ease;
        transform-origin: top;
    }
    .hamburger-container.show{
        transform: scale(1);
    }
    .hamburger-ul ul{
        display: flex;
        flex-direction: column;
        gap: 5%;
        font-size: 1rem;
        padding: 0;
    }
    .hamburger-ul li{
        padding: 10px 0;
    }
    .attribution{
        font-size: .48rem;
    }
}

