:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,
main{
    width: 100%;
    height: 100%;
    background-color: var(--Very-Light-Gray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: relative;
    color: hsl(233, 26%, 24%);
    overflow-x: hidden;
}
nav,
 ul,
.nav-list,
.section-one,
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-container,
.icon-close,
.icon-open,
.mobile{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--White);
    justify-content: space-around;
    margin: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.nav-ul ul{
    gap: 20px;
    height: 100%;
}
li{
    list-style: none;
    cursor: pointer;
    color: var(--Grayish-Blue);
    font-size: 1rem;
}
.nav-list,
.nav-ul{
    height: 100%;
    position: relative;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav-list::after,
.request-btn::after{
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--Lime-Green);
        bottom: 0;
        transform: scale(0);
        transform-origin: left;
        transition: .1s ease;
}
.request-btn::after{
    transform-origin: bottom;
}
.nav-list:hover::after,
.request-btn:hover::after{
    transform: scale(1);
}
.request-btn{
    width: 180px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to right, hsl(136,65%,51%) ,hsl(192, 70%, 51%));
    color: var(--White);
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}
.request-btn::after{
    height: 100%;
    border-radius: 40px;
    background-color: hsl(0, 0%, 100%, .1);
    left: 0;
}
.intro-bg{
    position: absolute;
    top: -12rem;
    right: -18rem;
    height: 100vh; 
}
.overlay-image{
    position: absolute;
    height: 100vh;
    top: -7rem;
    right: -8rem;
    z-index: 2;
}
.overlay-image img,
 .intro-bg img{
    width: 100%;
    height: 100%;
}
section{
    padding: 4rem 8rem;
}
.section-one{
    justify-content: space-between; 
}
.container{
    width: 400px;
    padding: 4rem 0;
}
.header{
    font-size: 3rem;
}
.text{
    font-size: 1rem;
    color: var(--Grayish-Blue);
    margin-block: 20px;
    line-height: 20px;
}
.section-two{
    background-color: var(--Light-Grayish-Blue);
}
.header-element{
    width: 70%;
    padding: 0;
    margin-bottom: 50px;
}
.head-text{
    font-size: 2rem;
}
.flex-container{
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.flex-item{
    width: 33.3%;
}
.section-two .flex-img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.section-three .flex-img{
    width: 100%;
    height: 150px;
}
.section-three .head-text{
    margin-bottom: 30px;
}
.article-writeup{
    padding:10px;  
    background-color: var(--White); 
}
.section-three .text{
    margin-bottom: 0;
}
.author{
    font-size: .8rem;
    margin-bottom: 10px;
    color: hsl(233, 8%, 62%);
}
.subtitle{
    font-size: 1rem;
    cursor: pointer;
}
.subtitle:hover{
    color: hsl(136,65%,51%);
}
footer{
    width: 100%;
    height: 150px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.social{
    display: flex;
    height: 100%;
    color: hsl(0, 0%, 100%);
    gap: 30px;
}
.social-icon{
    display: flex;
    gap: 5px;
}
.icon {
    cursor: pointer;
}
.icon:hover svg path{
    fill: hsl(136, 65%, 51%);
}
.footer-list-container ul{
    display: block;
    column-count: 2;
    line-height: 26px;
}
.footer-list:hover{
    color: hsl(136,65%,51%);
}
.footer-btn{
    color: hsl(0, 0%, 100%);
    font-size: .7rem;
    line-height: 40px;
}
.attribution{
    position: absolute;
    bottom: 10px;
    font-size: .7rem;
    color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
}
.attribution a{
    color: hsl(136, 65%, 51%);
    text-decoration: none;
}
@keyframes show-text{
    0%{left: 37%;}
    100%{left: 63%}
}
@media screen and (max-width:1100px) {
    .intro-bg{
    position: absolute;
    top: -12rem;
    right: -18rem;
    height: 43rem; 
    }
    .overlay-image{
        position: absolute;
        height: 43rem;
        top: -10rem;
        z-index: 2;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-item{
        width: 40%;
        text-align: center;
    }
}
@media screen and (max-width:968px) {
    .overlay-image, .intro-bg{
        height: 40rem;
        top: -10rem;
    }
    .overlay-image{
        top: -8rem;
        right: -8rem;
    }
    .container{
        margin-top: 23rem;
    }
    section{
        padding: 5rem;
    }
    .section-one{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width:768px) {
    section{
        padding: 40px;
    }
}
@media screen and (max-width: 600px){
    .mobile{
        display: block;
    } 
    .desktop{
        display: none;
    }
    .flex-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .flex-item,
    .header-element{
        width: 100%;
    }
    .overlay-image {
        width: 100%;
        height: 580px;
        left: 0;
        top: -7rem;
    } 
    .intro-bg{
        right: 0;
        top: 0;
        width: 100%;
        height: 500px;
    }
    .container{
        width: 100%;
        text-align: center;
    }
    .header{
        font-size: 2rem;
    }
    .head-text{
        text-align: center;
    }
    nav{
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
    }
    nav button{
        display: none;
    }
    .icon-open{
        display: block;
        cursor: pointer;
    }
    .icon-close{
        cursor: pointer;
    }
    .nav-ul{
        display: none;
    }
    .hamburger-container{
        width: 90%;
        border-radius: 10px;
        position: absolute;
        display: block;
        top: 60px;
        margin: auto;
        left: 0;
        right: 0;
        transform: translate(-50px 50%);
        z-index: 100;
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        transform: scaleY(0);
        transition:  .5s ease;
        transform-origin: top;
    }
    .hamburger-container.show{
        transform: scale(1);
    }
    .hamburger-ul ul{
        display: flex;
        flex-direction: column;
        gap: 5%;
        font-size: 1rem;
        padding: 0;
    }
    .hamburger-ul li{
        padding: 10px 0;
    }
    footer,
    .social{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: fit-content;
        text-align: center;
    }
    .footer-list-container ul{
        column-count: 1;
        padding: 0;
    }
    .icon-container{
        gap: 20px;
    }
}
@media screen and (max-width:450px) {
   section{
        padding: 20px;
    }
    .overlay-image{
        height: 500px;
    }
    .intro-bg{
        height: 450px;
    }
}

